@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<button>
@Html.ActionLink("Get List of Employees" , "GetEmployee" , "Dashboard")
</button>

